@import '_partials/vars';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

*:focus {
    outline: none;
}
html, body, #root {
    height: 100%;
}

body {
    background: $bg-color-primary;
    color: $font-color-primary;
    @media (min-width: $container-width-sm) {
        background: $bg-color-third;
    }
}

.content {
    padding: 30px 20px;
}


