@import './src/assets/scss/_partials/mixins';
@import './src/assets/scss/_partials/vars';

.container {
    position: relative;
    > input {
        display: block;
        width: 100%;

        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */
        text-indent: 1px;

        padding: 10px 30px;
        border: $border;
        @include border-radius($border-radius);
    }
}
