@import './src/assets/scss/_partials/mixins';
@import './src/assets/scss/_partials/vars';

.btn {
    @include border-radius($border-radius);
    border: none;
    font-weight: 500;
    line-height: 150%;
    /* identical to box height, or 27px */
    text-indent: 1px;
    text-transform: uppercase;
    &.info {
        background-color: $btn-bg-info;
    }
    &.small {
        font-size: 18px;
        color: $font-color-secondary;
        padding: 8px 14px;
    }
}
