@import '../../../../assets/scss/_partials/mixins';
@import '../../../../assets/scss/_partials/vars';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    button {
        min-width: 250px;
    }
}

.blockContainer {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 300px;
    height: 300px;
    box-sizing: content-box;
    background-color: $bg-color-third;
    border: 1px solid darken($bg-color-third, 20%);
    @include border-radius(150px);
    > img {
        display: block;
        width: 100%;
        height: 100%;
        @include border-radius(150px);
    }
}

.detailsBlock {
    padding-top: 30px;
    > h3 {
        text-align: center;
        font-size: 24px;
        line-height: 150%;
    }
}

.iconsBlock {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rankBlock {
    font-size: 24px;
    > span {
        font-size: 36px;
    }
}

.followersBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    > svg {
        margin-right: 5px;
    }
    > span {
        font-size: 36px;
    }
}

