.addBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.txt {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-indent: 1px;
    margin: 0 0 30px 0;
}
