@import '../../../../assets/scss/_partials/mixins';
@import '../../../../assets/scss/_partials/vars';

.blockContainer {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    padding: 0;
}

.addButton {
    display: flex;
    width: 75px;
    height: 75px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: $btn-bg-info;
    justify-content: center;
    align-items: center;
    @include border-radius(50px);
    > svg {
        display: block;
        width: 30px;
        height: 30px;
    }
}
