// sizes
$container-width-xs: 375px;
$container-width-sm: 576px;
$container-width-md: 768px;

// Colors
$font-color-primary: #000;
$font-color-secondary: #fff;

// BG
$bg-color-primary: #F8FA94;
$bg-color-secondary: #fff;
$bg-color-third: #ccc;

// border
$border-radius: 120px;
$border: 2px solid #000;

// buttons
$btn-bg-info: #2560B8;
